.nav-dropdown-list {
    display: none;
}

.mc-text-center{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.form-icon {
    position: absolute;
    width: 50px;
    height: 80px;
    right: 10px;
    margin-top: 10px;
    text-align: center;
}

.form-icon2{
    position: absolute;
    width: 50px;
    height: 20px;
    right: 10px;
    margin-top: 10px;
    text-align: center;
}

#signupForm .form-icon2:after{
    background-color: black;
}

h4 {
    margin: 0.5em auto;
}

#createCourseForm label{
    width: 50%;
}

#createCourseForm .ui-field-contain{
    margin: 1% auto;
}

#createCourseForm p.percent-error{
    display: none;
    font-size: larger;
    color: red;
}

#enrollCourse p.no-courses{
    display: none;
}
