<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title>Grade Calculator</title>
    <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />-->
    <link rel="stylesheet" href="css/jquery.mobile.flatui.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>

<!--landing page-->
<div data-role="page" id="home">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home" id="landingHomeIcon">Home</a>
        <h1>Grade Factory</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="main"  class="ui-content">
        <div id="beforeLoginHome">
            <h2 class="mc-text-center">Welcome!</h2>
            <p class="mc-top-margin-1-5"><b>Existing Users</b></p>
            <a href="#login" class="ui-btn ui-btn-b ui-corner-all">Login</a>
            <p class="mc-top-margin-1-5"><b>Don't have an account?</b></p>
            <a href="#signup" class="ui-btn ui-btn-b ui-corner-all">Sign Up</a>
        </div>
        <div id="afterLoginHome">
            <p class="mc-top-margin-1-5"><b>Want to leave?</b></p>
            <button id="logoutBtn" data-icon="flat-new" data-theme="b">Logout</button>
        </div>

        <p></p>
    </div><!-- /content -->
</div><!-- /landing page -->

<!--login page-->
<div data-role="page" id="login">
    <div data-role="header">
        <a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
        <h1>Login</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">
        <form id="loginForm">
            <input type="text" name="email" placeholder="email" required/>
            <input type="password" name="password" placeholder="password" required/>
            <button id="loginBtn" data-icon="flat-new" data-theme="b">Login</button>
            <!--TODO: error alert dialoge-->
        </form>
    </div><!-- /content -->
</div><!-- /login page -->

<!--Signup page-->
<div data-role="page" id="signup">
    <div data-role="header">
        <a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
        <h1>Sign Up</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">
        <form id="signupForm">
            <!--select user type teacher or student-->
            <div data-role="fieldcontain">
                <select name="userType" id="select-choice-a" data-native-menu="false" data-theme="f">
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select>
            </div>

            <input type="text" name="email" placeholder="email" required/>
            <input type="password" name="password" placeholder="password" required/>
            <input type="password" placeholder="confirm password" required/>

            <input type="text" name="fname" placeholder="first name"/>
            <input type="text" name="lname" placeholder="last name"/>
            <input type="number" name="phone" placeholder="phone"/>

            <input type="number" name="avatarId" min=1 max=15 placeholder="avatar id"/>

            <button id="signupBtn" data-icon="flat-new" data-theme="b">Sign Up</button>
            <!--TODO: error alert dialoge-->

        </form>
    </div><!-- /content -->
</div><!-- /Signup page -->

<!--userhome page-->
<div data-role="page" id="userhome">
    <div data-role="header">
        <a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
        <!--insert user firstname here-->
        <h1><span id="userFname"></span> Home</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content" role="main">

        <!--user profile panel-->
        <div id="userProfilePanel"></div>

        <!-- BEGIN: userProfileTmp: for teacher - Underscore Template Definition. -->
        <script type="text/template" id="userProfileTmp">
            <img src="<%- avatarUrl %>" alt="" height="60"/>
            <h4><%- fname %> <%- lname %></h4>
            <h4><%- email %></h4>
            <h4><%- phone %> </h4>
            <h4><%- userType %>: <%- userId %> </h4>
        </script>
        <!-- END: userProfileTmp Underscore Template Definition. -->

        <!--go to enrollCourse page, show when user is a student-->
        <!--<a href="#enrollCourse" id="goEnrollCourseBtn" class="ui-btn ui-btn-e ui-corner-all">Enroll Courses</a>-->
        <button id="goEnrollCourseBtn" data-icon="flat-new" data-theme="b">Enroll Courses</button>

        <!--go to createCourse page, show when user is a teacher-->
        <a href="#createCourse" id="gocCreateCourseBtn" class="ui-btn ui-btn-e ui-corner-all">Create A Course</a>

        <!--TODO course list: enroll(student)/teach(teacher)-->
        <h4>My Courses</h4>
        <div id="userCourseList"></div>

        <!-- BEGIN: userCourseListTmp: for teacher - Underscore Template Definition. -->
        <script type="text/template" id="userCourseListTmp">
            <div data-role="collapsible-set" data-theme="b" data-content-theme="b">
                <% _.each(courses, function(course){ %>

                <!--TODO should have button in each item to check course info, see what if grade-->
                <div class="coursePanel" id="<%- course._id %>" data-role="collapsible" data-collapsed-icon="flat-time" data-expanded-icon="flat-cross" data-collapsed="true">
                    <h3><%- course.name %></h3>
                    <p><%- course.description %></p>
                    <!--<button id="goCourseDetailBtn" data-icon="flat-eye" data-theme="f">Course Detail</button>-->
                    <!--<a href="#courseDetail?courseId=<%- course._id %>" class="ui-btn ui-btn-b ui-corner-all" >Course Detail</a>-->
                </div>
                <% }); %>
            </div>
        </script>
        <!-- END: userCourseListTmp Underscore Template Definition. -->

        <!-- BEGIN: userEnrollListTmp: for teacher - Underscore Template Definition. -->
        <script type="text/template" id="userEnrollListTmp">
            <div data-role="collapsible-set" data-theme="b" data-content-theme="b">
                <% _.each(enrolls, function(enroll){ %>

                <!--TODO should have button in each item to check course info-->
                <div class="coursePanel" id="<%- enroll._id %>" data-role="collapsible" data-collapsed-icon="flat-time" data-expanded-icon="flat-cross" data-collapsed="true">
                    <h3><%- enroll._course.name %></h3>
                    <p><%- enroll._course.description %></p>
                </div>
                <% }); %>
            </div>
        </script>
        <!-- END: userEnrollListTmp Underscore Template Definition. -->


    </div><!-- /content -->
</div><!-- /userhome page -->

<!--enrollCourse page: for student-->
<div data-role="page" id="enrollCourse">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home">Home</a>
        <h1>Enroll a Class</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">
        
        <!--TODO filter for course-->
        
        <!--TODO all course list : select course on each item ?-->
        <!--TODO should have button in each item to enroll or go to detail-->
        <div id="allEnrollCourseList"></div>
        <!-- BEGIN: allEnrollCourseListTmp: for teacher - Underscore Template Definition. -->
        <script type="text/template" id="allEnrollCourseListTmp">
            <div data-role="collapsible-set" data-theme="b" data-content-theme="b">
                <% _.each(courses, function(course){ %>

                <!--TODO should have button in each item to check course info, see what if grade-->
                <div class="coursePanel" id="<%- course._id %>" data-role="collapsible" data-collapsed-icon="flat-time" data-expanded-icon="flat-cross" data-collapsed="true">
                    <h3><%- course.name %></h3>
                    <p><%- course.description %></p>
                    <!--<button id="goCourseDetailBtn" data-icon="flat-eye" data-theme="f">Course Detail</button>-->
                    <!--<a href="#courseDetail?courseId=<%- course._id %>" class="ui-btn ui-btn-b ui-corner-all" >Course Detail</a>-->
                </div>
                <% }); %>
            </div>
        </script>
        <!-- END: allEnrollCourseListTmp Underscore Template Definition. -->

    </div><!-- /content -->
</div><!-- /enrollCourse page -->

<!--createCourse page: for teacher-->
<div data-role="page" id="createCourse">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home">Home</a>
        <h1>Create a Course</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">

        <!-- create a course: form fileds as follows-->
        <form id="createCourseForm">

            <input type="text" name="name" placeholder="course name" required/>
            <textarea name="description" id="" cols="30" rows="10" placeholder="course description"></textarea>

            <h5>Meta:</h5>
            <input type="number" name="HomeworksMax" placeholder="homework max"/>
            <input type="text" name="HomeworksFactor" placeholder="homework factor"/>

            <input type="number" name="LabsMax" placeholder="Labs max"/>
            <input type="text" name="LabsFactor" placeholder="Labs factor"/>

            <input type="number" name="ProjectMax" placeholder="Project max"/>
            <input type="text" name="ProjectFactor" placeholder="Project factor"/>

            <input type="number" name="PresentationMax" placeholder="Presentation max"/>
            <input type="text" name="PresentationFactor" placeholder="Presentation factor"/>

            <input type="number" name="MidtermMax" placeholder="Midterm max"/>
            <input type="text" name="MidtermFactor" placeholder="Midterm factor"/>

            <input type="number" name="FinalMax" placeholder="Final max"/>
            <input type="text" name="FinalFactor" placeholder="Final factor"/>

            <input type="text" name="PolicyA" placeholder="Policy A"/>
            <input type="text" name="PolicyB" placeholder="Policy B"/>
            <input type="text" name="PolicyC" placeholder="Policy C"/>
            <input type="text" name="PolicyD" placeholder="Policy D"/>

            <button id="createCourseBtn" data-icon="flat-new" data-theme="b">Create Course</button>
            <!--TODO: error alert dialoge-->

        </form>

    </div><!-- /content -->
</div><!-- /createCourse page -->

<!--editCourse page: for teacher-->
<div data-role="page" id="editCourse">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home">Home</a>
        <!--insert course name here-->
        <h1>Edit Course</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">

        <!--TODO edit form-->

    </div><!-- /content -->
</div><!-- /editCourse page -->

<!--courseDetail page: check course meta, enroll/(edit/delete)-->
<div data-role="page" id="courseDetail">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home">Home</a>
        <!--insert course name here-->
        <h1>Course Detail</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">

        <!--if teacher, button to edit/delete course-->
        <button id="editCourseBtn" data-icon="flat-new" data-theme="b">Edit</button>

        <!--if student, button to enroll course-->
        <button id="enrollCourseBtn" data-icon="flat-new" data-theme="e">Enroll</button>

        <!--show course fileds-->
        <div id="courseDetailPanel"></div>
        <!-- BEGIN: courseDetailTmp -->
        <script type="text/template" id="courseDetailTmp">
            <h4><%- name %></h4>
            <h6 id="courseIDDetailPage"><%- _id %></h6>
            <h4><%- description %></h4>
            <h4><%- _owner.fname %> </h4>
            <h4><%- policy.A %></h4>
            <h4><%- meta.Final.factor %> </h4>
        </script>
        <!-- END: courseDetailTmp Underscore Template Definition. -->

        <!--if teacher, can see enroll list-->
        <!--show course fileds-->
        <div id="enrollList"></div>
        <!-- BEGIN: courseEnrolListTmp -->
        <script type="text/template" id="courseEnrolListTmp">
            <div data-role="collapsible-set" data-theme="e" data-content-theme="e">
                <% _.each(enrolls, function(enroll){ %>

                <div class="enrollPanel" id="<%- enroll._id %>" data-role="collapsible" data-collapsed-icon="flat-man" data-expanded-icon="flat-cross" data-collapsed="true">
                    <h3><%- enroll._student.fname %> <%- enroll._student.lname %></h3>
                    <p><%- enroll.grade.Final.actual %></p>
                    <p><%- enroll.grade.Midterm.actual %></p>
                    <p><%- enroll.grade.Presentation.actual %></p>
                    <p><%- enroll.grade.Project.actual %></p>
                    <p><%- enroll.grade.Labs.actual %></p>
                    <p><%- enroll.grade.Homeworks.actual %></p>
                </div>
                <% }); %>
            </div>
        </script>
        <!-- END: courseEnrolListTmp Underscore Template Definition. -->


    </div><!-- /content -->
</div><!-- /courseDetail page -->

<!--enrollDetail page: show score & grade-->
<div data-role="page" id="enrollDetail">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home">Home</a>
        <h1>Enrollment</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">

        <!--if teacher, button to edit/delete course-->
        <button id="editScoreBtn" data-icon="flat-new" data-theme="b">Edit Score</button>
        <button id="backToCourseBtn" data-icon="flat-new" data-theme="e">Back to Course</button>

        <!--show course fileds-->
        <div id="enrollDetailPanel"></div>

        <!-- BEGIN: myEnrollDetailTmp for student view -->
        <script type="text/template" id="myEnrollDetailTmp">

            <!--if student, button to enroll course-->

            <!--pass enroll id as data-enrollId-->
            <button id="whatifBtn" data-icon="flat-new" data-enrollid="<%- _id %>" data-theme="e">What-if Score</button>


            Course info:
            <h4><%- _course.name %></h4>
            <h4><%- _course.description %></h4>

            <!--TODO pop a dialog for all students-->
            <!--<button>Show All Students</button>-->

            Current grade:
            <h4>Final: <%- grade.Final.actual %> </h4>
            <h4>Midterm: <%- grade.Midterm.actual %> </h4>
            <h4>Presentation: <%- grade.Presentation.actual %> </h4>
            <h4>Project: <%- grade.Project.actual %> </h4>
            <h4>Labs: <%- grade.Labs.actual %> </h4>
            <h4>Homeworks: <%- grade.Homeworks.actual %> </h4>
        </script>
        <!-- END: courseDetailTmp Underscore Template Definition. -->

        <!-- BEGIN: studentEnrollDetailTmp for teacher view -->
        <script type="text/template" id="studentEnrollDetailTmp">

            Student:
            <h4><%- _student.fname %> <%- _student.lname %></h4>

            Current grade:
            <h4>Final: <%- grade.Final.actual %> </h4>
            <h4>Midterm: <%- grade.Midterm.actual %> </h4>
            <h4>Presentation: <%- grade.Presentation.actual %> </h4>
            <h4>Project: <%- grade.Project.actual %> </h4>
            <h4>Labs: <%- grade.Labs.actual %> </h4>
            <h4>Homeworks: <%- grade.Homeworks.actual %> </h4>
        </script>
        <!-- END: courseDetailTmp Underscore Template Definition. -->

        <!--TODO calculate My total current grade-->

    </div><!-- /content -->
</div><!-- /enrollDetail page -->

<!--whatifEdit page: student edit whatif score see grade-->
<div data-role="page" id="whatifEdit">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home">Home</a>
        <h1>What-if Score</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">

        <!--show this course fileds-->
        <div id="enrollCoursePanel"></div>
        <!-- BEGIN: courseDetailTmp -->
        <script type="text/template" id="enrollCoursePanelTmp">
            <h4><%- _course.name %></h4>

            <!--input whatif scores-->
            <form id="whatifGradeForm">

                <h5>What-if Grade:</h5>

                <!-- change to slider, max with meta.XX.max-->

                <label for="HomeworksWhatif">Homeworks Whatif:</label>
                <input type="range" name="HomeworksWhatif" id="HomeworksWhatif" min="0" max="<%- _course.meta.Homeworks.max %>" />

                <label for="LabsWhatif">Labs Whatif:</label>
                <input type="range" name="LabsWhatif" id="LabsWhatif" min="0" max="<%- _course.meta.Labs.max %>" />

                <label for="ProjectWhatif">Project Whatif:</label>
                <input type="range" name="ProjectWhatif" id="ProjectWhatif" min="0" max="<%- _course.meta.Project.max %>" />

                <label for="PresentationWhatif">Presentation Whatif:</label>
                <input type="range" name="PresentationWhatif" id="PresentationWhatif" min="0" max="<%- _course.meta.Presentation.max %>" />

                <label for="MidtermWhatif">Midterm Whatif:</label>
                <input type="range" name="MidtermWhatif" id="MidtermWhatif" min="0" max="<%- _course.meta.Midterm.max %>" />

                <label for="FinalWhatif">Final Whatif:</label>
                <input type="range" name="FinalWhatif" id="FinalWhatif" min="0" max="<%- _course.meta.Final.max %>" />

                <br/>
                <button id="calWhatifGradeBtn" data-icon="flat-new" data-theme="b">Calculate what-if grade</button>
                <!--TODO: error alert dialoge-->

            </form>
        </script>



        <!--TODO calculate My total current grade-->
        <h5>My Grade: <span id="whatifGrade"></span></h5>

    </div><!-- /content -->
</div><!-- /whatifEdit page -->

<!--actualScoreEdit page: teacher edit actual score see grade-->
<div data-role="page" id="actualScoreEdit">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home">Home</a>
        <h1>Edit Score</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">

        <!--show this course fileds-->
        <div id="editActualScorePanel"></div>
        <!-- BEGIN: courseDetailTmp -->
        <script type="text/template" id="editAcutalScoreTmp">
            <h4><%- _course.name %></h4>
            <h4><%- _student.fname %> <%- _student.lname %></h4>

            <!--input whatif scores-->
            <form id="actualScoreForm">

                <h5>Student Grades:</h5>

                <!-- change to slider, max with meta.XX.max-->

                <label for="HomeworksActual">Homeworks:</label>
                <input type="range" name="HomeworksActual" id="HomeworksActual" min="0" value="<%- grade.Homeworks.actual %>" max="<%- _course.meta.Homeworks.max %>" />

                <label for="LabsActual">Labs:</label>
                <input type="range" name="LabsActual" id="LabsActual" value="<%- grade.Labs.actual %>" min="0" max="<%- _course.meta.Labs.max %>" />

                <label for="ProjectActual">Project:</label>
                <input type="range" name="ProjectActual" id="ProjectActual" value="<%- grade.Project.actual %>" min="0" max="<%- _course.meta.Project.max %>" />

                <label for="PresentationActual">Presentation:</label>
                <input type="range" name="PresentationActual" id="PresentationActual" value="<%- grade.Presentation.actual %>" min="0" max="<%- _course.meta.Presentation.max %>" />

                <label for="MidtermActual">Midterm:</label>
                <input type="range" name="MidtermActual" id="MidtermActual" value="<%- grade.Midterm.actual %>" min="0" max="<%- _course.meta.Midterm.max %>" />

                <label for="FinalActual">Final:</label>
                <input type="range" name="FinalActual" id="FinalActual" value="<%- grade.Final.actual %>" min="0" max="<%- _course.meta.Final.max %>" />

                <br/>
                <button id="calActualGradeBtn" data-icon="flat-new" data-theme="b">Calculate & Save Grade</button>
                <!--TODO: error alert dialoge-->

            </form>
        </script>



        <!--TODO calculate My total current grade-->
        <h5>Total Grade: <span id="actualGrade"></span></h5>

    </div><!-- /content -->
</div><!-- /actualScoreEdit page -->



<!--setting page-->
<div data-role="page" class="" id="settingsPage" data-add-back-btn="true" >
    <div data-role="header" class="">
        <a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
        <a href="#" id='cancelSettings' class="ui-btn ui-icon-delete ui-btn-icon-left" data-rel="back">Cancel</a>
        <h1>Grade - Settings</h1>
    </div>
    <div data-role="content" class="">
        <form>
            <input type="number" name="gradeCutOff" id="gradeCutOff" value="" placeholder="Grade Cutoff at">
            <p style="text-align: center;">
                <a href="#" id='saveSettings' data-role="button" data-inline="true" data-icon="check">Save</a>
            </p>
        </form>
    </div>
</div><!-- /setting page -->


<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script src="js/app.js"></script>
</body>
</html>