<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title>Grade Calculator</title>
    <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />-->
    <link rel="stylesheet" href="css/jquery.mobile.flatui.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>

<!--landing page-->
<div data-role="page" id="home">
    <div data-role="header">
        <a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
        <h1>Grade Factory</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="main"  class="ui-content">
        <div id="beforeLoginHome">
            <h2 class="mc-text-center">Welcome!</h2>
            <p class="mc-top-margin-1-5"><b>Existing Users</b></p>
            <a href="#login" class="ui-btn ui-btn-b ui-corner-all">Login</a>
            <p class="mc-top-margin-1-5"><b>Don't have an account?</b></p>
            <a href="#signup" class="ui-btn ui-btn-b ui-corner-all">Sign Up</a>
        </div>
        <div id="afterLoginHome">
            <p class="mc-top-margin-1-5"><b>Want to leave?</b></p>
            <button id="logoutBtn" data-icon="flat-new" data-theme="b">Logout</button>
        </div>

        <p></p>
    </div><!-- /content -->
</div><!-- /landing page -->

<!--login page-->
<div data-role="page" id="login">
    <div data-role="header">
        <a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
        <h1>Login</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">
        <form id="loginForm">
            <input type="text" name="email" placeholder="email" required/>
            <input type="password" name="password" placeholder="password" required/>
            <button id="loginBtn" data-icon="flat-new" data-theme="b">Login</button>
            <!--TODO: error alert dialoge-->
        </form>
    </div><!-- /content -->
</div><!-- /login page -->

<!--Signup page-->
<div data-role="page" id="signup">
    <div data-role="header">
        <a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
        <h1>Sign Up</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">
        <form id="signupForm">
            <!--select user type teacher or student-->
            <div data-role="fieldcontain">
                <select name="userType" id="select-choice-a" data-native-menu="false" data-theme="f">
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select>
            </div>

            <input type="text" name="email" placeholder="email" required/>
            <input type="password" name="password" placeholder="password" required/>
            <input type="password" placeholder="confirm password" required/>

            <input type="text" name="fname" placeholder="first name"/>
            <input type="text" name="lname" placeholder="last name"/>
            <input type="number" name="phone" placeholder="phone"/>

            <input type="number" name="avatarId" min=1 max=15 placeholder="avatar id"/>

            <button id="signupBtn" data-icon="flat-new" data-theme="b">Sign Up</button>
            <!--TODO: error alert dialoge-->

        </form>
    </div><!-- /content -->
</div><!-- /Signup page -->

<!--userhome page-->
<div data-role="page" id="userhome">
    <div data-role="header">
        <a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
        <!--insert user firstname here-->
        <h1><span id="userFname"></span> Home</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content" role="main">

        <!--user profile panel-->
        <div id="userProfilePanel"></div>

        <!-- BEGIN: userProfileTmp: for teacher - Underscore Template Definition. -->
        <script type="text/template" id="userProfileTmp">
            <img src="<%- avatarUrl %>" alt="" height="60"/>
            <h4><%- fname %> <%- lname %></h4>
            <h4><%- email %></h4>
            <h4><%- phone %> </h4>
            <h4><%- userType %>: <%- userId %> </h4>
        </script>
        <!-- END: userProfileTmp Underscore Template Definition. -->

        <!--go to enrollCourse page, show when user is a student-->
        <a href="#enrollCourse" id="goEnrollCourseBtn" class="ui-btn ui-btn-e ui-corner-all">Enroll A Course</a>

        <!--go to createCourse page, show when user is a teacher-->
        <a href="#createCourse" id="gocCreateCourseBtn" class="ui-btn ui-btn-e ui-corner-all">Create A Course</a>

        <!--TODO course list: enroll(student)/teach(teacher)-->
        <h4>My Courses</h4>
        <div id="userCourseList"></div>

        <!-- BEGIN: userCourseListTmp: for teacher - Underscore Template Definition. -->
        <script type="text/template" id="userCourseListTmp">
            <div data-role="collapsible-set" data-theme="b" data-content-theme="b">
                <% _.each(courses, function(course){ %>

                <!--TODO should have button in each item to check course info, see what if grade-->
                <div class="coursePanel" id="<%- course._id %>" data-role="collapsible" data-collapsed-icon="flat-time" data-expanded-icon="flat-cross" data-collapsed="true">
                    <h3><%- course.name %></h3>
                    <p><%- course.description %></p>
                    <!--<button id="goCourseDetailBtn" data-icon="flat-eye" data-theme="f">Course Detail</button>-->
                    <!--<a href="#courseDetail?courseId=<%- course._id %>" class="ui-btn ui-btn-b ui-corner-all" >Course Detail</a>-->
                </div>
                <% }); %>
            </div>
        </script>
        <!-- END: userCourseListTmp Underscore Template Definition. -->

        <!-- BEGIN: userEnrollListTmp: for teacher - Underscore Template Definition. -->
        <script type="text/template" id="userEnrollListTmp">
            <div data-role="collapsible-set" data-theme="b" data-content-theme="b">
                <% _.each(enrolls, function(enroll){ %>

                <!--TODO should have button in each item to check course info-->
                <div data-role="collapsible" data-collapsed-icon="flat-time" data-expanded-icon="flat-cross" data-collapsed="true">
                    <h3><%- enroll.course.name %></h3>
                    <p><%- enroll.course.description %></p>
                </div>
                <% }); %>
            </div>
        </script>
        <!-- END: userEnrollListTmp Underscore Template Definition. -->


    </div><!-- /content -->
</div><!-- /userhome page -->


<!--enrollCourse page: for student-->
<div data-role="page" id="enrollCourse">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home">Home</a>
        <h1>Enroll a Class</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">
        
        <!--TODO filter for course-->
        
        <!--TODO all course list : select course on each item ?-->
        <!--TODO should have button in each item to enroll or go to detail-->
        <div id="allEnrollCourseList">
        </div>

    </div><!-- /content -->
</div><!-- /enrollCourse page -->


<!--createCourse page: for teacher-->
<div data-role="page" id="createCourse">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home">Home</a>
        <h1>Create a Course</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">

        <!--TODO create a course: form fileds as follows-->
        <form id="createCourseForm">

            <input type="text" name="name" placeholder="course name" required/>
            <textarea name="description" id="" cols="30" rows="10" placeholder="course description"></textarea>

            <h5>Meta:</h5>
            <input type="number" name="HomeworksMax" placeholder="homework max"/>
            <input type="text" name="HomeworksFactor" placeholder="homework factor"/>

            <input type="number" name="LabsMax" placeholder="Labs max"/>
            <input type="text" name="LabsFactor" placeholder="Labs factor"/>

            <input type="number" name="ProjectMax" placeholder="Project max"/>
            <input type="text" name="ProjectFactor" placeholder="Project factor"/>

            <input type="number" name="PresentationMax" placeholder="Presentation max"/>
            <input type="text" name="PresentationFactor" placeholder="Presentation factor"/>

            <input type="number" name="MidtermMax" placeholder="Midterm max"/>
            <input type="text" name="MidtermFactor" placeholder="Midterm factor"/>

            <input type="number" name="FinalMax" placeholder="Final max"/>
            <input type="text" name="FinalFactor" placeholder="Final factor"/>

            <input type="text" name="PolicyA" placeholder="Policy A"/>
            <input type="text" name="PolicyB" placeholder="Policy B"/>
            <input type="text" name="PolicyC" placeholder="Policy C"/>
            <input type="text" name="PolicyD" placeholder="Policy D"/>

            <button id="createCourseBtn" data-icon="flat-new" data-theme="b">Create Course</button>
            <!--TODO: error alert dialoge-->

        </form>

    </div><!-- /content -->
</div><!-- /createCourse page -->

<!--editCourse page: for teacher-->
<div data-role="page" id="editCourse">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home">Home</a>
        <!--insert course name here-->
        <h1>Edit Course</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">

        <!--TODO edit form-->

    </div><!-- /content -->
</div><!-- /editCourse page -->

<!--courseDetail page: check course meta, enroll/(edit/delete)-->
<div data-role="page" id="courseDetail">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home">Home</a>
        <!--insert course name here-->
        <h1>Course Detail</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">

        <!--TODO: if teacher, button to edit/delete course-->

        <!--TODO: if student, button to enroll course-->


        <!--TODO show course fileds as follows-->
        <form>

        </form>

    </div><!-- /content -->
</div><!-- /courseDetail page -->


<!--enrollDetail page: edit score see grade-->
<div data-role="page" id="enrollDetail">
    <div data-role="header">
        <a data-iconpos="notext" href="#userhome" data-role="button" data-icon="flat-man" title="Home">Home</a>
        <h1>Enrollment</h1>
        <a data-iconpos="notext" href="" data-role="button" data-icon="flat-menu"></a>
    </div><!-- /header -->
    <div data-role="content"  class="ui-content">

        <!--TODO: if teacher, edit actual score and see grade-->

        <!--TODO: if student, edit whatif and see grade-->


    </div><!-- /content -->
</div><!-- /enrollDetail page -->



<!--test page-->
<div data-role="page" class="" id="mainPage">
    <div data-role="header" class="">
        <a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
        <h1>Grade Factory</h1>
        <a href="#settingsPage" id='settingsButton' class="ui-btn-right" data-role="button" data-icon="gear">Settings</a>
    </div>
    <div data-role="content" class="">
        <form>
            <div data-role="fieldcontain">
                <label for="Points">Points</label>
                <input type="number" name="points" id="points" data-clear-btn="true" maxlength="3" value="" placeholder="Enter points here">
            </div>
            <p style="text-align: center;">
                <a href="#" id="computeGrade" data-role="button" data-icon="check">Compute Grade</a>
            </p>
            <p class="final grade">
                <label>Final Grade</label>
                <span id="finalgrade">TBD</span>
            </p>
`
            <p style="text-align: center;">
                <a href="#" id="testJson" data-role="button" data-icon="check">GET Loc</a>
            </p>
            <p class="">
                <label>Loc::</label>
                <span id="loc">TBD</span>
            </p>

            <fieldset class="ui-grid-a">
                <div class="ui-block-a"><button data-icon="flat-settings" data-theme="a">Button A</button></div>
                <div class="ui-block-b"><button data-icon="flat-new" data-theme="b">Button B</button></div>
            </fieldset>
            <fieldset class="ui-grid-a">
                <div class="ui-block-a"><button data-icon="flat-man" data-theme="c">Button C</button></div>
                <div class="ui-block-b"><button data-icon="flat-mail" data-theme="d">Button D</button></div>
            </fieldset>
            <fieldset class="ui-grid-a">
                <div class="ui-block-a"><button data-icon="flat-lock" data-theme="e">Button E</button></div>
                <div class="ui-block-b"><button data-icon="flat-menu" data-theme="f">Button F</button></div>
            </fieldset>
            <fieldset class="ui-grid-a">
                <div class="ui-block-a"><button data-icon="flat-heart" data-theme="g">Button G</button></div>
            </fieldset>

        </form>
    </div>
</div><!-- /test page -->

<!--setting page-->
<div data-role="page" class="" id="settingsPage" data-add-back-btn="true" >
    <div data-role="header" class="">
        <a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
        <a href="#" id='cancelSettings' class="ui-btn ui-icon-delete ui-btn-icon-left" data-rel="back">Cancel</a>
        <h1>Grade - Settings</h1>
    </div>
    <div data-role="content" class="">
        <form>
            <input type="number" name="gradeCutOff" id="gradeCutOff" value="" placeholder="Grade Cutoff at">
            <p style="text-align: center;">
                <a href="#" id='saveSettings' data-role="button" data-inline="true" data-icon="check">Save</a>
            </p>
        </form>
    </div>
</div><!-- /setting page -->


<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script src="js/app.js"></script>
</body>
</html>